.Registor{
    background-color:rgb(27, 213, 234);   
    width: 350px;
    height: 350px;
    text-align:center;
    border-radius: 6%;
}

.inbox{
    padding: 1%;
    margin: 2%;
  }

  .login{
    height: 8%;
    width: 20%;
    border: radius 10%;
  }

  .button{
    margin-top: 4%;
    width: 20%;
    height: 8%;
    border-radius: 10%
  }
